body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#banner {
    background-color: #100d2c;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}
#logo img {
    height: 60px;
    width: auto;
}
#links {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}
#links a {
    color: white;
    text-decoration: none;

    transition: all 0.3s;
}
#links a:hover {
    color: #fcad36;
    scale: 1.15;
}

#main {
    text-align: center;
    padding: 50px 0;
}
#main h1 {
    font-size: 36px;
    color: black;
    margin: 0 0 40px 0;
}
#main h4 {
    font-size: 20px;
    color: black;
    margin: 0;
}

.search_show_profile {
    display: none;
}