
.profile_picture {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
    background-size: contain;
    border: 1px solid white;
}


.general_full_profile {
    text-align: center;
}