/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.profile_picture_small_left {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 10px auto;

}
.profile_picture_small_right {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    float: right;
}

.container_center {
    border: 1px solid black;
    border-radius: 0px;
    background-color: #100d2b;
}



.container_title {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    background-color: #1a144a;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}



.container_contact {
    border: 1px solid black;
    padding: 5px;
    border-radius: 0px;
    background-color: #100d2b;
    color: white;
    overflow: clip;
}

.container_mini_profile {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    text-align: right;
}

.mini_profile {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: #171241;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-align: left;
}


.mini_profile_picture {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

body {
    margin: 0px;
    height: 100%;
}

#bottom {



}

.show_more {
    display: none;
}


/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}


:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #151515;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.msger {

    justify-content: space-between;
    width: 100%;
    margin: 15px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    background-color: #1a144a;


}

.msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #333232;
    color: #666;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    text-align: left;
}
.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    overflow: clip;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}
.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}
.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}
.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #212121;
}
.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}
.msger-input {
    flex: 1;
    background: #333232;
}
.msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition:  0.23s;
}
.msger-send-btn:hover {
    background: rgb(0, 180, 50);
}


.msger-chat {
    height: 550px;
    width: 100%;
    padding: 20px;
    
    overflow-y: scroll;
    scroll-behavior: smooth; /* optional - adds smooth scrolling behavior */
    scroll-padding: 20px; /* optional - adds padding to the scrolling area */
    scroll-snap-type: y proximity; /* optional - adds snapping behavior to the scrolling area */
    scroll-snap-align: end; /* optional - snaps to the bottom of the scrolling area */
    scroll-snap-stop: always; /* optional - stops the snapping behavior at the edges of the scrolling area */
    /* set the scroll position to the bottom */

    scroll-margin-bottom: 0;

}
.msger-chat::-webkit-scrollbar {
    width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msger-chat {
    background-color: #1f1fc8;
    background-image: url("https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg");
    position: relative;
}
