.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-6 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paragraph {
    color: white;
    background-color: #100d2c;
    border-radius: 15px;
   
}

